[Unit]
Description=Supervisor daemon
# Documentation=http://supervisord.org
After=network.target

[Service]
User=seluser
WorkingDirectory=/home/seluser/scrafi_project
ExecStart=/home/seluser/.local/bin/supervisord -n -c /home/seluser/scrafi_project/supervisord.conf
ExecStop=/home/seluser/.local/bin/supervisorctl $OPTIONS shutdown
ExecReload=/home/seluser/.local/bin/supervisorctl $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
# Alias=supervisord.service
