[Unit]
Description=Supervisor daemon
# Documentation=http://supervisord.org
After=network.target

[Service]
User=scrafer
WorkingDirectory=/home/scrafer/scrafi_project
ExecStart=/home/scrafer/.local/bin/supervisord -n -c /home/scrafer/scrafi_project/supervizor/supervisord.conf
ExecStop=/home/scrafer/.local/bin/supervisorctl $OPTIONS shutdown
ExecReload=/home/scrafer/.local/bin/supervisorctl $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
# Alias=supervisord.service